
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 8vh;
    
}
.buttn{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: blue;
}
#buttons{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 20px;
}
#buttons div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.link{
    
    padding-top: 8px;
    color: white;
    text-decoration: none;
}
.main{
    width: 66%;
    height: 50vh;
    background-color: white;
    margin-left: 17%;
    margin-top: 13vh;
}